.playlist-item {
  display: flex;
  justify-content: space-between;
  margin: 0 16px;
}

.thumb {
  width: 48px;
}

.item-info {
  display: flex;
  align-items: center;
  column-gap: 12px;
  cursor: pointer;
}

.item-info p {
  font-size: 14px;
}

.item-info span {
  color: #b5b5b5;
  font-size: 11px;
}

.composer-download-div {
  display: flex;
  column-gap: 3px;
}

.download-icon {
  cursor: pointer;
}

.like-icon {
  width: 16px;
  cursor: pointer;
}
