.song-page {
  padding: 0 24px;
}

.thumb {
  width: 100%;
}

.song-info-div {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.song-info-div p {
  margin-bottom: 6px;
  font-size: 22px;
  font-weight: 700;
}

.song-info-div span {
  color: #bbbbba;
  font-size: 15px;
}

.track {
  background: var(--color-black-400);
  width: 100%;
  height: 4px;
  position: relative;
  border-radius: 1rem;
  /* overflow: hidden; */
  margin: 7px 0;
  margin-top: 22px;
}

.timer-thumb {
  position: absolute;
  left: 0;
  top: -4px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: var(--color-white);
  cursor: pointer;
}

.animate-track {
  background: var(--color-white);
  width: 0;
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(0%);
  pointer-events: none;
}

.song-time-div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.song-time-div span {
  font-size: 11px;
  color: #bababa;
}

.song-controller {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 17px;
}

.song-controller img {
  cursor: pointer;
}

.pause-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 63px;
  height: 63px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}
